:root {
    --primary: white;
    --secondary: rgb(78, 78, 78);

    --red: crimson;
    --green: rgb(22, 206, 133);
    --yellow: gold;
    --blue: rgb(9, 91, 255);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .25s ease;
}

*:not(i) {
    font-family: 'Maven Pro', sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    color: var(--secondary);
}

body {
    background-color: white;
}

input {
    border: none;
    padding: .5rem;
    border-radius: 999px;
    outline: none;
}